@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: helvetica;

}

html, body{
    width: 100vw;
    height: 100vh;


}

body{
    background-image: url('/Index e css/images/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main{
    position: relative;
    height: 100vh;


 }

#telefone{
    position: absolute;
    height: 818px;
    width: 411px;
    background: url('/index e css/images/frame-iphone.png') no-repeat;
   background-size: cover;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

iframe#tela{
    position: relative;
    margin-top: 106px;
    margin-left: 29px;
    width: 354px;
    height: 623px;
}

#redes-sociais{
text-align: end;

}

#redes-sociais img{
    align-items: flex-start;
    border-radius: 100%;
    width: 100px;
    margin: 15px;
    box-shadow: 2px 2px 5px;
}

